<div class="form-group">
<%= form_with(model: job, url: [@company, job], local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :jobtype, "Select one jobtype this job pertains to:" %>
  <%= form.select :jobtype, options_for_select(@jobtypes), {:class => "form-control"} %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>