<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="input"></span>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <span class="input"></span>
  <%= form.label :email %>
  <%= form.email_field :email %>

  <span class="input"></span>
  <%= form.label :password %>
  <%= form.text_field :password %>

  <span class="input"></span>
  <%= form.label :age %>
  <%= form.number_field :age %>

  <span class="input"></span>
  <%= form.label :phonenum %>
  <%= form.phone_field :phonenum %>

  <!--jobtypes -->

  <span class="input"></span>
  Job Interests:

  <div id="jobtypes_row" class="row">
    <% jobtypes = User.jobtypes.keys.to_a %>
    <% jobtypes.each do |jobtype| %>
      <%= form.check_box :jobtype, { multiple: true }, User.jobtypes.select{ |v| v == jobtype}.values.first, nil %>
      <%= form.label jobtype %>
    <% end %>
  </div>


  <span class="input"></span>
  <%= form.label :resume %><br>
  <%= form.text_area :resume %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
