<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <span class="input"></span>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :age %>
  <%= form.number_field :age %>

  <%= form.label :phonenum %>
  <%= form.phone_field :phonenum %>

  <div id="jobtypes_container">
    <div class="row">
      <% @jobtypes.each do |jobtype| %>
        <% index = @jobtypes.index(jobtype) %>
        <div class="col-xs-2 col-sm-2">
          <div class="box border">
            <% unique_id = "#{@jobtypes.index(jobtype)}#{jobtype}" %>
            <%= form.check_box :jobtype, { multiple: true, id: unique_id, class: "jobtypes_class" }, jobtype, nil %>
            <%= form.label jobtype, :for => unique_id %>
          </div>
        </div>
        <% if (index + 1) % 6 == 0 %>
          </div> <div class="row">
        <% end %>
      <% end %>
      </div>
    </div>



      <span class="input"></span>
      <%= form.label :resume %><br>
      <%= form.text_area :resume %>

      <div class="actions">
        <%= form.submit %>
      </div>
<% end %>
