<div class="row starter top-xs border" style="background:#6BABF3; color: white">
  <div class="col-sm-6 col-xs-12">
    <div class="box">
      <%= link_to "NOVICESHIP", root_path, style: "color: white; font-family: 'Lato'; font-size: 30px",class: "btn btn-link btn-lg"   %>
  </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="box end-xs">
      <%= link_to "New User", new_user_path, style: "", class: "btn btn-lg btn-warning active"   %>
<!-- profile css goes here -->
    </div>
  </div>
</div>
<div class = 'container'>
<p id="notice"><%= notice %></p>
<center><h1 style = 'color: black'>Users</h1></center>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Age</th>
      <th>Phonenum</th>
      <th>Resume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.age %></td>
        <td><%= user.phonenum %></td>
        <td><%= user.resume %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
