<% @user.jobtype.each do |jobt| %>
  <p>
  <% job = Job.where(jobtype: jobt) %>
  For <%= jobt %>:
    <p>
  <% if job.empty? %>
    There are no jobs for this
  <% else %>
    <% job.each do |j| %>
      <p>
        Name: <%= j.name %>
      </p>
      <p>
        Description: <%= j.description %>
      </p>
        <% company = Company.find(j.company_id)  %>
      <p>
        Link: <%= link_to j.name, [company, j] %>
      </p>
      <p>
        Company: <%= link_to company.name, company%>
      </p>
      <br>
    <% end %>
  <% end %>
    </p>
<% end %>
<% if false %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.location %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>