<div class="row starter top-xs border" style="background:#6BABF3; color: white">
  <div class="col-sm-6 col-xs-12">
    <div class="box">
      <%= link_to "NOVICESHIP", root_path, style: "color: white; font-family: 'Lato'; font-size: 30px",class: "btn btn-link btn-lg"   %>
  </div>
  </div>
  <div class="col-sm-6 col-xs-12">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.location %></td>
        <td><%= link_to 'APPROVE' %></td>
        <td><%= link_to 'REJECT' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
