<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Phonenum:</strong>
  <%= @user.phonenum %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @user.resume %>
</p>

<p>
  <strong>Possible Companies:</strong>
  <%= @jobs %>
   <% @jobs.each do |job| %>
    <%= job.id %>
    <%= @companies = Company.where(job_id: job.id) %>
    <%= @campanies.each do |company| %>
        <%= company %>
      <% end %>
    <% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
