<div class="row starter top-xs border" style="background:#6BABF3; color: white">
  <div class="col-sm-6 col-xs-12">
    <div class="box">
      <%= link_to "tinderJobs", root_path, style: "color: white; font-family: 'Lato'; font-size: 30px",class: "btn btn-link btn-lg"   %>
  </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="box end-xs">

<!-- profile css goes here -->
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class = 'box'>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
</div>
